<div class="mt-4">
    <h3>Danh mục sản phẩm</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Giới thiệu</th>
                <th scope="col">Thời gian đăng</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each sanphams}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.Name}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.Description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/chi_tiet_san_pham/{{this._id}}/edit" class="btn btn-outline-primary">Sửa</a>
                    <a href="" class="btn btn-outline-danger">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>