<div class="mt-4">
    <h3>Danh mục sản phẩm</h3>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá</th>
                <th scope="col">Giới thiệu</th>
                <th scope="col">Thời gian đăng</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each sanphams}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.Name}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.Description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/chi_tiet_san_pham/{{this._id}}/edit" class="btn btn-outline-primary">Sửa</a>
                    <a href="" data-bs-toggle="modal" data-bs-target="#delete_product" data-id="{{this._id}}"  class="btn btn-outline-danger">Xóa</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div>
    {{!-- Delete --}}
    <!-- Modal -->
    <div class="modal fade" id="delete_product" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Xóa sản phẩm</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                
                    <p>
                        Bạn có chắc chắn xóa sản phẩm {{this.Name}} !!!
                    </p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
            </div>
        </div>
    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function(){
       //$('delete_product').on('show.bs.modal', function(event){
       //    var button = $(event.relatedTarget)
       //     var id = button.data('id')
       //     console.log(id)
       //})

        const delete_product = document.getElementById('delete_product')
        delete_product.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget
        const id = button.data('id')
        console.log(id)})
    })

</script>